<div class="container bg-light m-4 position-relative">
<div class="row">
    <div>
        <div class="card">
            <div class="card head">
                <div class="card title">
                <h1 class="position-relative">Formulario</h1>
                </div>
            </div>
    <form class="p-4">
                <label for="Nombre" class="">Nombre:</label>        
        <input type="text" placeholder="Nombre" id="Nombre" class="for-control col-md-3 m-2">
        <label for="Nombre" class="">Nombre:</label>        
        <input type="text" placeholder="Nombre" id="Nombre" class="for-control col-md-3 m-2">
        <label for="Nombre" class="">Nombre:</label>        
        <input type="text" placeholder="Nombre" id="Nombre" class="for-control col-md-3 m-2">
        
    </form>
            
        </div>
    </div>
</div>   
</div>