*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}



body {
  height: 20vh;
  overflow-y: scroll;
   font-size: 11px;
   background: #f5f6f5;
   font-family: 'verdana', sans-serif;
   margin-left: 0px;
   padding-left: 0px;
   
   /*overflow: hidden;
  /*background: #0e7baa;  /* fallback for old browsers */
  /*background: -webkit-linear-gradient(to right, #979cac, #839c87, #9cd5ec);  /* Chrome 10-25, Safari 5.1-6 */
 /* background: linear-gradient(to right, #c8c8c6, #8d96b6, #97b4a8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  }
  .dropdown-menu{
    background-color: rgb(239, 242, 242);
    
  }
  .nav-link{
    margin-left: 10px;
    font-size: 15px;
  }
  .side1-nav{
    
    width: 170px;
  }
  #alert{
    z-index: 99;
    background-color: #09371c;
    position: absolute; right: 40px; top: 60px; z-index: 1;
    border-radius: 11px;
    width: auto;
    height: 50px;
    font-size: 11px !important;
    color: #ffffff;
    font-weight: 400;
  }
  @media (max-width: 767px) {
    .side1-nav {
      display: none;
    }
    .menu-resposive{
      display: flex;
    } 
    .menu-resposive2{
      display: none;
    } 

    }
      @media (max-width: 768px) {
        .menu-resposive{
          display: flex;
        } 
        }
        @media (min-width: 769px) {
          .menu-resposive{
            display: none;
          } 
          }

          @media print{
            .menu-resposive{
              display: none;
            }
          }
  
  .nav-resp{
    display: none;
  }

  .index{
   
    height: 100vh;
    padding-left: 0px;
  }

  .masthead{
    color:white;
    min-height: 30rem;
    
    height: 100%;
    padding-top: 8rem;
    background: url("/img/fondo2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    filter:brightness(0.7);
    
    
  }


  #navbarNavDropdown{
    float: right;
  }

  #Login{
    background-color: black;
    background-image: url("../img/fondo2.jpg");

  }

  .abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .navbar{
    font-size: 16px;
  
  }
  #detalle{
    height: 22vh;
    overflow-y: scroll;
    
  }
  .detalle-tb{
    height: 50vh;
    overflow-y: scroll;
    
  }
  .detalle-tb-2{
    height: 100vh;
    overflow-y: scroll;
    
  }
  .detalle-tb-3{
    height: 70vh;
    overflow-y: scroll;
    margin: 0%;
    padding: 0px;
    
  }
  #container-add{
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 100% !important;
  }
  
  .class-header{
    height:10vh;
  }

 #tipo{
  
  text-transform: capitalize;
 }

 thead {
  position: sticky;
  top: 0;
  background-color: rgb(225, 225, 225);
}

.btn-bg-red {
  
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(158, 40, 24);
  border: 2px;

}
.btn-bg-green {
  
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(15, 180, 59);
  border: 2px;

}

#foot{
  margin-bottom: 1%;
}

label{
  
  display: inline;
  width: 80px;
}

h6{
  padding: 0px;
  margin: 0px;
    
}
.align-items-start {
  align-items: center !important;
}

#head1{
  background-color: rgb(156, 156, 156);
  border: 1px;
  border-bottom-left-radius: 11px;
  border-top-left-radius:11px;
}


#postHeader{
  border: 2px;
  border-color: black;
  border-radius: 6px;
  text-transform: uppercase;
}

.tabla{
   font-size: 10px;
   text-transform: capitalize;
   width: -webkit-fill-available;
   
   
   
}

.headt{
  vertical-align: baseline;
  height: 5px;
 
}

table tr{
  height: 5px;;
}

#titleHead{
  font-size: 13px;
}

#contentHead{
  font-size: 13px;
  text-transform: capitalize;
  border: solid 1px #d9d9d9;
  max-height: 19px;
}
#contentHead2{
  font-size: 13px;
  text-transform: capitalize;
  
}

.divFirm{
width: 100%;
size: 2px;
text-align: center;


}

#totalUnid{
  background-color: rgb(157, 156, 156);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  font-size: 12px;
  text-transform: capitalize;
  text-align: left;
  padding-left: 10px;
}

.divTable{
  min-height: 250px;
  border: solid 1px rgb(172, 172, 172);
}

.row{
  -bs-gutter-x: 0rem;
}

.p-f{
font-weight: bold;
margin-bottom: -1px !important;
}

.head-cort{
  background-color: rgb(149, 149, 149);
}
.border-left{
  border-top-left-radius: 11px;
}

.border-right{
  border-top-right-radius: 11px;
}

.divTableOc{
  min-height: 150px;
  border: solid 1px rgb(172, 172, 172);
}

/* Imagen redondeada en los forms */
.imgRounded{
 border-radius: 100px;
}

.card-body{
  padding: 5px;
}
.card-header{
  padding: 5px;
}

.card-title{
  margin: 0px;
}
.form-control{
  padding: 0px;
}
#btn-Oc{
  margin-top: 16px !important ;
  margin-left: -5px;
  font-size: 10px;
}

.btnp{
  border:1px;
  background-color: aqua;
  border-radius: 11px;
  text-decoration: none;
  padding: 5px;
  margin-top: 10px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.close-popup {
  margin-top: 20px;
}

.sidebar-Nav{
  min-height: 600px;
}

.title-order{
  background-color: rgb(128, 140, 140);
}
.btn-guia{
  border: 1px;
  border-radius: 11px;
  background-color: chocolate;
  width: 75px;
  height: 25px;
}

.nroguia{
  font-size: 14px;
}

.areaPrint{
  margin-top: 10px;
  border: solid 2px;
  width: 386px;
  height: 275px;
  border-radius: 11px;
}

.pg{
  margin: -1px;
}
p{
  padding: 0px;
  margin-bottom: 0px;
}

#detalleDocs{
  display: ;
}

.hrdiv{
  margin: 1px;
}
.pcoment{
  margin: 3px;
  font-weight: 700;
}
.emComent{
  font-weight: 400;
}
.notasBus{
  border-style: solid;
  border-radius: 10px;
   
}
.v-lin{
  border-style: solid;
  
  width: 19%;
  height:6%;
  left: 55%;
  position: absolute;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
 }
.contNotas{
  margin: 2px;
  font-size: 10px;  
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.aling-pers{
  padding: 18px;
}
.No {
  background-color: #09371c00;
  border-color: rgb(102, 102, 102);
  border-radius: 4px;
  border-style: solid;
  color: black;
}

.alert-exi {
  opacity: 1;
  animation: desvanecer 10s forwards;
  animation: desvanecer2 5s forwards;
}



.alert-exit {
  opacity: 1;
  animation: desvanecer 10s forwards, desplazamiento 3s forwards;
  
  
}

@keyframes desvanecer {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes desplazamiento {
  from {  transform: translateY(700px); }
  to {  transform: translateY(10px); }
}