<footer class="bd-footer py-0 mt-5 bg-light bg-light text-center" id="foot">
  <!-- Copyright -->
  {{!-- //<div class="text-center p-3" style="background-color: rgb(0, 0, 0); color:rgb(255, 255, 255)"> --}}
    <h6>Desarrollado por Luis Eduardo Muñoz G.</h6>
    <h7>Contacto: 573173642354</h7>
    <p>Bogotá-Colombia 2022</p>
    
  {{!-- </div> --}}
  <!-- Copyright -->
</footer>