        
       <div id="side1nav" >
         <a class="text-light" style="font-size: 15px;" href="/">

    <img src="/img/Logo-Blanco-PNg.png" alt="Thunder Jeans"  width="115" height="50" style="border-radius:12px; box-shadow:10px; margin-left:10px; margin-top:5px ">
   
   </a>
          <ul class="nav flex-column" style="color:white" >
         <li class="nav-item">
          <a class="nav-link active text-light" aria-current="page" href="/estados">Seguimiento</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Productos
          </a>
          <ul class="dropdown-menu text-light" aria-labelledby="">
            <li><a class="dropdown-item" href="../../../../../productos/add" target="_blank" >Agregar Nuevo</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="../../../../../productos/list">Lista de Productos</a></li> 
            <li><hr class="dropdown-divider dark"></li> 
            <li><a class="dropdown-item" href="../../../../../telas">Agregar Telas</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="../../../../../telas/list">Lista de Telas</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="../../../../../ingresotelas">Ingreso de Telas</a></li>
            <li><hr class="dropdown-divider"></li>
            
             </ul>
            </li>         
            </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Orden de Corte
          </a>
          <ul class="dropdown-menu text-light" aria-labelledby="">
            <li><a class="dropdown-item" href="../../../../ordendecorte/add">Agregar Nueva</a></li>
             <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="../../../../../ordendecorte/list">Lista de Ordenes</a></li>          
              </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Reportes
          </a>
          <ul class="dropdown-menu text-light" aria-labelledby="">
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="../../../../../reports/kardex">Kardex</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="../../../../reports/satelites">Reporte Satelites</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="../../../../../reports/general">Reporte General</a></li>
             <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="../../../../../reports/cortadores">Reporte Cortadores</a></li>
              </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Entradas
          </a>
          <ul class="dropdown-menu text-light" aria-labelledby="http://localhost:4000/entradas/list">
            <li><a class="dropdown-item" href="../../../../../entradas">Agregar Nueva Entrada</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="../../../../../entradas/list">Lista de Entradas</a></li>
           
        
            </li>
            
          </ul>
        </li>
         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Salidas
          </a>
          <ul class="dropdown-menu text-light" aria-labelledby="http://localhost:4000/entradas/list">
            <li><a class="dropdown-item" href="../../../../../salidas">Agregar Nueva Salida</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="../../../../../salidas/list">Lista de Salidas</a></li>
            
          </ul>
        </li>
         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categorias
          </a>
          <ul class="dropdown-menu text-light" aria-labelledby="">
            <li><a class="dropdown-item" href="../../../../../categorias">Agregar Nueva Categoría</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="../../../../../categorias/list">Lista de Categorías</a></li>
            
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Usuarios
          </a>
          <ul class="dropdown-menu text-light" aria-labelledby="">
            <li><a class="dropdown-item" href="../../../../../responsables">Agregar Usuarios</a></li>
            <li><hr class="dropdown-divider"></li>
             <li><a class="dropdown-item" href="../../../../../responsables/list">Lista de Usuarios</a></li>
            <li><hr class="dropdown-divider"></li>
             <li><a class="dropdown-item" href="../../../../../proveedores">Agregar Proveedores</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="../../../../../proveedores/list">Lista de Proveedores</a></li>
            <li><hr class="dropdown-divider"></li>
                        
          </ul>
        </li>
         <li class="nav-item">
          <a class="nav-link active text-light" aria-current="page" href="/rotulos">Rotulos</a>
        </li>

         <li class="nav-item">
          <a class="nav-link active text-light" aria-current="page" href="/pedidos">Pedidos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-light" aria-current="page" href="/signup">Crear Usuario</a>
        </li>
            

          </ul>
       </div>