<!DOCTYPE html>
<html>
<head>
  <title>Sistema de Inventarios</title>
  <link rel="stylesheet" href="/CSS/styleBegin.css">
</head>
<body>
  <header>
    <h1>Sistema de Inventarios</h1>
  </header>
  
  <main>
    <h2>Bienvenido al Sistema de Inventarios</h2>
    <p>Este sistema le permitirá administrar y llevar un registro detallado de su inventario de telas y producción en satélites. Podrá generar entradas, salidas, órdenes de corte y administrar el estado de su inventario en talleres de terceros.</p>
    
    <a href="/signin" class="btn">Ingresar</a>
  </main>
  
  <footer>
    <p>© 2023 Elaborado por: Luis Eduardo Muñoz González</p>
    <p>Contacto: 3173642354</p>
    <p><em>Bogotá D.C.</em></p>
  </footer>
</body>
</html>
