<body>
    

<div class="container p-4" id="container-login" >
<div class="card  col-sm-9 col-lg-3 col-md-6 col-lg-5 col-xl-4 mt-10 mx-auto">
    <div class="card-header text-center">
        <div class="card-title">
        <h3>Ingresar</h3>
        </div>
    </div>
    <div class="card-body" style="text-align:center;">
        <img src="/img/Logo blanco Fondo negro PNg.png" alt="" class="card-img-top mx-auto m-2  rounded-circle" style="width:9rem;">
        <form action="/signin" method="POST" class="mt-4">        
        <div class="m-4">
        <input type="username" name="username"  class="form-control" placeholder="Ingresa tu documento de identidad">
        </div>
        <div class="m-4">
        <input type="password" name="password" class="form-control" placeholder="Tu Contraseña">
        </div>
        
        <div class="d-grid gap-2">
        <button class="btn btn-primary btn-block">Ingresar</button>
       
        </div>
        <div class="d-grid gap-2">
        <a href="/changepassword">Recuperar Contraseña</a>
       
        </div>
    </div>
    </form>
</div>
</div>
</body>