<div class="container m-4 p-4" id="container-login" >
<div class="card text-center  col-sm-9 col-lg-3 col-md-6 col-lg-5 col-xl-4 mt-10 mx-auto">
    <div class="card-header">
        <div class="card-title">
        <h1>Registrar Nuevo Usuario al Sistema</h1>
        </div>
        
    </div>
    <div class="card-body ">
        <img src="/img/Logo blanco Fondo negro PNg.png" alt="" class="card-img-top mx-auto m-2   w-50 imgRounded">
        <form action="/signup" method="POST" class="mt-4">
        <div class="m-4">
        <input type="text" name="usuario" class="form-control m-auto" placeholder="Usuario (Número de documento)" autofocus>
        </div>
        
        <div class="m-4">
        <input type="password" name="password"  class="form-control" placeholder="Tu Contraseña">
        </div>
       
        <div class="d-grid gap-2">
        <button class="btn btn-primary btn-block">Ingresar</button>
        
        </div>
    </div>
     </form>
</div>
</div>
